<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>

</head>
<body>
    <h1>Heroes</h1>
    <a href="/babbage"><img height="300" title="Babbage" src="/img/babbage.jpg" alt="babagge"></a>
    <a href="/berners-lee"><img height="300" title="berners-lee" src="/img/berners-lee.jpg" alt="berners-lee"></a>
    <a href="/clarke"><img height="300" title="clarke" src="/img/clarke.jpg" alt="clarke"></a>
    <a href="/hamilton"><img height="300" title="hamilton" src="/img/hamilton.jpg" alt="hamilton"></a>
    <a href="/hopper"><img height="300" title="hopper" src="/img/hopper.jpg" alt="hopper"></a>
    <a href="/lovelace"><img height="300" title="lovelace" src="/img/lovelace.jpg" alt="lovelace"></a>
    <a href="/turing"><img height="300" title="turing" src="/img/turing.webp" alt="turing"></a>
</body>
</html>
